@page "/faq"

<PageTitle>FAQ - HoleInOne</PageTitle>

<div class="mt-5 w-50" style="align-self: center;">

<h2>Frequently Asked Questions (FAQ)</h2>
<h4>1. What is HoleInOne competitions?</h4>

<p class="indentText">HoleInOne competitions is a unique online platform that combines the excitement of golf with raffles and competitions. It offers golf enthusiasts the chance to participate in golf-themed raffles, challenges, and tournaments while providing the opportunity to win fantastic prizes related to the sport.</p>
<br />

<h4> 2. How do I participate in competitions on HoleInOne?</h4>

<p class="indentText">Participating in our golf-themed competitions is easy! First, create an account on our platform. Once you're logged in, you can explore the available golf challenges, raffles, and tournaments. Each event will have its own set of entry requirements and rules, so make sure to review them before joining.</p>
<br />

<h4> 3. Can I compete in real golf tournaments on HoleInOne competitions?</h4>

<p class="indentText">HoleInOnCompetitions primarily offers virtual golf experiences, challenges, and raffles. While we don't host real-world golf tournaments, our platform provides a fun and competitive environment for golf enthusiasts to test their skills and win exciting golf-related prizes. We aim to do most of our draws live!</p>
<br />

<h4> 4. How do I connect my account to HoleInOne competitions?</h4>

<p class="indentText">To link your account to HoleInOnCompetitions, simply sign up for an account on our platform. You can use your preferred social media account to register. Once registered, you'll have access to all our golf-themed competitions and features.</p>
<br />
<h4> 5. Is my personal information secure on HoleInOne competitions?</h4>

<p class="indentText">We take the security of your personal information seriously. Rest assured that your data is protected through rigorous security measures. You can review our Privacy Policy for detailed information on how we handle and safeguard your data.</p>
<br />
<h4> 6. What types of golf-related prizes can I win on HoleInOnCompetitions?</h4>

<p class="indentText">Our golf-themed competitions offer a wide range of prizes related to the sport. You might have the chance to win golf clubs, equipment, golf apparel, accessories, and more. The specific prizes available for each competition will be outlined in the competition details.</p>
<br />
<h4> 7. How can I reach customer support if I have questions or encounter issues?</h4>

<p class="indentText">If you have any questions, encounter technical issues, or need assistance with anything related to HoleInOne competitions, please don't hesitate to contact our dedicated customer support team. You can reach us at <a href="mailto:contact.holeinone@gmail.com">contact.holeinone@gmail.com</a>, and we'll be happy to assist you.</p>
<br />
<h4> 8. Are there any age restrictions for participating in golf-themed competitions on HoleInOne competitions?</h4>

<p class="indentText">Generally, our platform is open to users of all ages who share an interest in golf. However, certain competitions or raffles may have age restrictions or eligibility criteria. Please check the specific requirements outlined in each competition's description for details.</p>
<br />
<h4> 9. How are winners determined in the competitions?</h4>

<p class="indentText">The rules for determining winners may vary depending on the type of competition. Some competitions will be live, while others may involve random drawings. The specific rules and winner selection methods for each competition will be provided in the competition details.</p>
</div>
@code {

}
