@page "/privacy"

<PageTitle>Privacy Policy - HoleInOne</PageTitle>

<div class="mt-5 w-50" style="align-self: center;">
<h1>Privacy Policy</h1>

<br />

<p>Thank you for choosing HoleInOne Competitions! This Privacy Policy outlines how we collect, use, disclose, and protect the information you provide to us when using our website.</p>

<h2>1. Information We Collect</h2>
<br />

<h3 class="indentText">1.1 Personal Information</h3>
    <p class="indentText">When you use HoleInOne Competitions, we may collect certain personal information from you, including:</p>
<ul class="indentText">
    <li>Steam and Google Authentication Data: We may collect data related to your Steam and Google accounts, such as your username, profile information, and email address, to provide you with access to certain features and services.</li>
        <li>Device Information: We may automatically collect information about the devices you use to access HoleInOne Competitions, including your device type, operating system, browser type, and unique device identifiers.</li>
    <li>IP Addresses: We may collect your IP address, which may be used to analyze trends, administer the website, track user movement, and gather demographic information for aggregate use.</li>
</ul>
<h3 class="indentText">1.2 Non-Personal Information</h3>
<p class="indentText">We may also collect non-personal information, which does not directly identify you, such as aggregated and anonymized usage data, to improve our services and enhance the user experience.</p>

<br />
<h2>2. Use of Information</h2>
<h3 class="indentText">2.1 Personal Information</h3>
<p class="indentText">We may use the personal information we collect for the following purposes:</p>
<ul class="indentText">
    <li>To Provide and Improve Our Services: We use your personal information to authenticate your access to certain features, process transactions, respond to your inquiries and requests, and enhance your overall experience with HoleInOne Competitions.</li>
    <li>To Communicate with You: We may send you service-related notifications, updates, and promotional emails or newsletters. You can opt-out of receiving marketing communications by following the instructions in the emails we send you.</li>
</ul>

<h3 class="indentText">2.2 Non-Personal Information</h3>
<p class="indentText">Non-personal information may be used for analytical purposes, including monitoring and analyzing trends, usage patterns, and preferences to improve our website, services, and user experience.</p>

<br />
<h2>3. Information Sharing and Disclosure</h2>
<h3 class="indentText">3.1 Third-Party Service Providers</h3>
<p class="indentText">We may share your personal information with trusted third-party service providers who assist us in operating our website, providing services, and conducting business activities. These service providers are bound by confidentiality agreements and are only authorized to use your information as necessary to perform services on our behalf.</p>

<h3 class="indentText">3.2 Legal Compliance</h3>
<p class="indentText">We may disclose your information if required by law, regulation, or legal process, or if we believe it is necessary to protect the rights, property, or safety of RewardReaper, its users, or others.</p>

<br />
<h2>4. Data Security</h2>
<p>We take reasonable measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction. However, please note that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>

<br />
<h2>5. Children's Privacy</h2>
<p>HoleInOne Competitions is not intended for use by individuals under the age of 18. We do not knowingly collect personal information from children under 18. If you believe we have inadvertently collected information from a child under 18, please contact us immediately, and we will take steps to remove that information from our records.</p>

<br />
<h2>6. Changes to this Privacy Policy</h2>
<p>We reserve the right to update or modify this Privacy Policy from time to time. We will notify you of any material changes by posting the updated policy on our website or through other appropriate communication channels. Your continued use of RewardReaper after the effective date of the revised Privacy Policy constitutes your acceptance of the changes.</p>

<br />
<h2>7. Contact Us</h2>
    <p>If you have any questions, concerns, or requests regarding this Privacy Policy or the privacy practices at HoleInOne Competitions, please contact us at <a href="mailto:contact.holeinone@gmail.com">contact.holeinone@gmail.com</a></p>

    <br />
</div>