@page "/tos"

<div class="mt-5 w-50" style="align-self: center;">

<h2>Terms of Service (ToS) - HoleInOne Competitions</h2>

<h3>1. Acceptance of Terms</h3>

<p class="indentText">By accessing or using the services provided by HoleInOne Competitions ("the Platform"), you agree to comply with and be bound by these Terms of Service. If you do not agree with these terms, please do not use the Platform.</p>

<h3>2. Registration and Account</h3>

<h4>2.1. You must create an account to access certain features of the Platform.</h4>
<p class="indentText"> You agree to provide accurate, current, and complete information during the registration process and to update such information to keep it accurate, current, and complete.</p>

<h4>2.2. You are responsible for maintaining the confidentiality of your account credentials and for any activity that occurs under your account. </h4>
    <p>You agree to notify us immediately of any unauthorized use of your account or any other breach of security.</p>

<h3>3. Eligibility</h3>

<p class="indentText">You must be at least 18 years old to use the Platform. By using the Platform, you represent and warrant that you meet the age requirement.</p>

<h3>4. User Conduct</h3>

<h4>4.1. You agree to use the Platform in compliance with all applicable laws and regulations.</h4>

<h4>4.2. You agree not to engage in any of the following activities:</h4>

<p class="indentText">Impersonating any person or entity.</p>
<p class="indentText">Uploading, posting, transmitting, or sharing content that is unlawful, harmful, threatening, abusive, defamatory, obscene, or otherwise objectionable.</p>
<p class="indentText">Attempting to interfere with, compromise the security of, or disrupt the Platform or its associated servers and networks.</p>

<h3>5. Content</h3>

<h4>5.1. The Platform may allow users to submit or share content, such as text, images, and videos.</h4>
<p class="indentText">You retain ownership of your content, but you grant HoleInOne Competitions a worldwide, non-exclusive, royalty-free license to use, copy, reproduce, process, adapt, modify, publish, transmit, display, and distribute your content in any and all media or distribution methods.</p>

<h4>5.2. </h4>
<p class="indentText">HoleInOne Competitions reserves the right to remove, modify, or otherwise manipulate any content that violates these Terms of Service or is deemed objectionable.</p>

<h3>6. Intellectual Property</h3>

<h4> 6.1. </h4>
<p class="indentText">All intellectual property rights, including trademarks, copyrights, and patents, associated with the Platform and its content are owned by or licensed to HoleInOne Competitions.</p>

<h4>6.2.</h4>
<p class="indentText">You agree not to use, reproduce, distribute, or create derivative works based on the Platform or its content without express written consent from HoleInOne Competitions.</p>

<h3>7. Termination</h3>

<p class="indentText">HoleInOne Competitions may, at its sole discretion, suspend or terminate your account and access to the Platform without notice if you violate these Terms of Service.</p>

<h3>8. Disclaimer of Warranties</h3>

<p class="indentText">The Platform is provided "as is" and "as available," without any warranties of any kind, whether express or implied.</p>

<h3>9. Limitation of Liability</h3>

<p class="indentText">HoleInOne Competitions shall not be liable for any direct, indirect, incidental, special, consequential, or punitive damages arising out of or in connection with your use of the Platform.</p>

<h3>10. Governing Law</h3>

<p class="indentText">These Terms of Service are governed by and construed in accordance with the laws of United Kingdom, without regard to its conflict of law principles.</p>

<h3>11. Contact Information</h3>

<p class="indentText">If you have any questions or concerns regarding these Terms of Service, please contact us at <a href="mailto:contact.holeinone@gmail.com">contact.holeinone@gmail.com</a>.</p>

</div>