<footer class="footer flex-row text-muted row justify-content-center">
    <div class="row gx-5 justify-content-center w-75 mt-5">
        <div class="col mb-3">
            <h5>Additional Links</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">TBC</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Trustpilot</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Support</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="faq" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>About</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="tos" class="nav-link p-0 text-body-secondary">Terms of Service</a></li>
                <li class="nav-item mb-2"><a href="privacy" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Service Status</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Social</h5>
            <ul class="list-unstyled h-flex" style="font-size: 20px;">
                <li class="mx-3"><a class="link-body-emphasis" href="#"><i class="bi bi-twitter"></i></a></li>
                <li class="mx-3"><a class="link-body-emphasis" href="#"><i class="bi bi-youtube"></i></a></li>
                <li class="mx-3"><a class="link-body-emphasis" href="#"><i class="bi bi-discord"></i></a></li>
                <li class="mx-3"><a class="link-body-emphasis" href="https://www.facebook.com/profile.php?id=61551609055897"><i class="bi bi-facebook"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row site-background justify-content-center align-middle" id="footer">
        <div class="w-75">
            <p class="m-0">&copy; 2023 SportsRaffle.com</p>
        </div>
    </div>
</footer>

