@inherits LayoutComponentBase

<PageTitle>SportsRaffles</PageTitle>


<NavMenu />
<div class="page">
    <div class="contentContainer">
        <div class="bodyContainer">
            @Body
        </div>
        <Footer />
    </div>
</div>

